.DS_Store

*.swp
.cache
.vscode

# yarn 2 ignores
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

dist
node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*